

body{
	min-height: 4rem;
	background-color:#ebf7fd;
}

#loginBox{
	height: 3rem;
	width: 4rem;
	border:3px solid #f1f1f1;
	border-radius: 0.2rem;
	font-size: 0.14rem;
	box-shadow: 0.05rem 0.04rem 0.1rem 0.02rem gray;
	display: none;
}

#boxTop{
	height: 1rem;
	width: 100%;
	background-color: #a5def1;
	border-top-left-radius: 0.2rem;
	border-top-right-radius: 0.2rem;
	float: left;
}

#boxTop img{
	margin-top: 0.32rem;
	margin-left: 0.94rem;
}

#myForm{
	width: 100%;
}

#userName{
	height: 0.21rem;
	width: 2.1rem;
	margin-top: 0.3rem;
	margin-left: 0.9rem;
	float: left;
}

#account{
	height: 0.16rem;
	width: 204px;
	/*margin-top: 0.3rem;
	margin-left: 0.9rem;*/
	padding: 0.02rem 0.07rem;
	border:1px solid #cccccc;
	border-top-left-radius: 0.08rem;
	border-top-right-radius: 0.08rem;
	outline: none;
	float: left;
	z-index: 1;
}

#dropDown{
	height: 0.08rem;
	width: 0.12rem;
	margin-top: -0.14rem;
	margin-right: -0.04rem;
	content:url("/img/dropDown.png");
	float: right;
	z-index: 2;
}

#dropDown:hover{
	cursor: pointer;
}

#password{
	height: 0.16rem;
	width: 2.04rem;
	margin-left: 0.9rem;
	padding: 0.02rem 0.07rem;
	border:1px solid #cccccc;
	border-bottom-left-radius: 0.08rem;
	border-bottom-right-radius: 0.08rem;
	outline: none;
}

#verification{
	height: 0.16rem;
	width: 0.76rem;
	margin-top: 0.1rem;
	padding: 0.02rem 0.05rem;
	margin-left: 0.9rem;
	border:1px solid #cccccc;
	outline: none;
}

#changeOne{
	font-size: 0.12rem;
	color: #3b2e72;
	text-decoration: underline;
}

#changeOne:hover{
	color: #FF0000;
	cursor: pointer;
}

#verificationCode{
	height: 0.16rem;
	width: 0.8rem;
    font-family:Arial;
    font-style:italic;
    font-weight:bold;
    border:0;
    letter-spacing:0.02rem;
    color:blue;
    outline: none;
}

#loginBtn{
	height: 0.24rem;
	width: 2.18rem;
	margin-top: 0.2rem;
	margin-left: 0.9rem;
	border:1px solid #cccccc;
	border-radius: 0.05rem;
	background-color: #808080;
	text-align: center;
	line-height: 0.24rem;
	float: left;
	opacity: 0.85;
}

#loginBtn:hover{
	cursor: pointer;
	opacity: 1;
}

#rememberMeBox{
	margin-top: 0.1rem;
	margin-left: 0.9rem;
	font-size: 0.12rem;
	float: left;
	vertical-align:middle;
}

#rememberMe{
	vertical-align:middle;
}

#forgetPsw{
	margin-top: 0.1rem;
	margin-right: 0.9rem;
	font-size: 0.12rem;
	color: #3b2e72;
	float: right;
}

#forgetPsw:hover{
	color: #FF0000;
}
