


/*板式样式表*/
/*包括行高字体对齐居中等*/



/***********************************************1440 x 900以上**********************************************/
@media only screen and (min-width:1440px){
	.sameFontSize{
		font-size: 0.18rem;
	}
}



/******************************************1366 x 768 ~ 1440 x 900******************************************/
@media only screen and (min-width:1366px)and (max-width:1440px){
	.sameFontSize{
		font-size: 0.17rem;
	}
}



/******************************************1280 x 800 ~ 1366 x 768******************************************/
@media only screen and (min-width:1280px)and (max-width:1366px){
	.sameFontSize{
		font-size: 0.16rem;
	}
}



/******************************************1024 x 768 ~ 1280 x 800******************************************/
@media only screen and (min-width:1024px)and (max-width:1280px){
	.sameFontSize{
		font-size: 0.15rem;
	}
}



/***********************************************1024 x 768以下**********************************************/
@media only screen and (max-width:1024px){
	.sameFontSize{
		font-size: 0.14rem;
	}
}