


/*板式样式表*/
/*包括行高字体对齐居中等*/



/*活动图片区域*/
.actImg{
	font-weight: bold;
	text-align: center;
}



/*活动名称简介*/
.actBriefMsg li{
	text-align: center;
}



/***********************************************1440 x 900以上**********************************************/
@media only screen and (min-width:1440px){
	/*左侧菜单栏-------------------------------------------------------------------------------------------*/
	#menu li{
		line-height: 0.84rem;
	}
	/*-------------------------------------------------------------------------------------------左侧菜单栏*/



	/*右侧核心区域-----------------------------------------------------------------------------------------*/
	/*活动图片区域*/
	.actImg{
		font-size: 0.24rem;
		line-height: 3.36rem;
	}



	/*活动名称简介*/
	.actBriefMsg li{
		line-height: 0.336rem;
	}



	/*活动操作按钮*/
	.actOperationBtn{
		font-size: 0.24rem;
	}
	/*-----------------------------------------------------------------------------------------右侧核心区域*/
}



/******************************************1366 x 768 ~ 1440 x 900******************************************/
@media only screen and (min-width:1366px)and (max-width:1440px){
	/*左侧菜单栏-------------------------------------------------------------------------------------------*/
	#menu li{
		line-height: 0.63rem;
	}
	/*-------------------------------------------------------------------------------------------左侧菜单栏*/



	/*右侧核心区域-----------------------------------------------------------------------------------------*/
	/*活动图片区域*/
	.actImg{
		font-size: 0.22rem;
		line-height: 2.52rem;
	}



	/*活动名称简介*/
	.actBriefMsg li{
		line-height: 0.252rem;
	}



	/*活动操作按钮*/
	.actOperationBtn{
		font-size: 0.26rem;
	}



	/*活动操作按钮*/
	.actOperationBtn{
		font-size: 0.22rem;
	}
	/*-----------------------------------------------------------------------------------------右侧核心区域*/
}



/******************************************1280 x 800 ~ 1366 x 768******************************************/
@media only screen and (min-width:1280px)and (max-width:1366px){
	/*左侧菜单栏-------------------------------------------------------------------------------------------*/
	#menu li{
		line-height: 0.6rem;
	}
	/*-------------------------------------------------------------------------------------------左侧菜单栏*/



	/*右侧核心区域-----------------------------------------------------------------------------------------*/
	/*活动图片区域*/
	.actImg{
		font-size: 0.2rem;
		line-height: 2.4rem;
	}



	/*活动名称简介*/
	.actBriefMsg li{
		line-height: 0.24rem;
	}



	/*活动操作按钮*/
	.actOperationBtn{
		font-size: 0.2rem;
	}
	/*-----------------------------------------------------------------------------------------右侧核心区域*/
}



/******************************************1024 x 768 ~ 1280 x 800******************************************/
@media only screen and (min-width:1024px)and (max-width:1280px){
	/*左侧菜单栏-------------------------------------------------------------------------------------------*/
	#menu li{
		line-height: 0.562rem;
	}
	/*-------------------------------------------------------------------------------------------左侧菜单栏*/



	/*右侧核心区域-----------------------------------------------------------------------------------------*/
	/*活动图片区域*/
	.actImg{
		font-size: 0.18rem;
		line-height: 2.25rem;
	}



	/*活动名称简介*/
	.actBriefMsg li{
		line-height: 0.225rem;
	}



	/*活动操作按钮*/
	.actOperationBtn{
		font-size: 0.18rem;
	}
	/*-----------------------------------------------------------------------------------------右侧核心区域*/
}



/***********************************************1024 x 768以下**********************************************/
@media only screen and (max-width:1024px){
	/*左侧菜单栏-------------------------------------------------------------------------------------------*/
	#menu li{
		line-height: 0.45rem;
	}
	/*-------------------------------------------------------------------------------------------左侧菜单栏*/



	/*右侧核心区域-----------------------------------------------------------------------------------------*/
	/*活动图片区域*/
	.actImg{
		font-size: 0.16rem;
		line-height: 1.8rem;
	}



	/*活动名称简介*/
	.actBriefMsg li{
		line-height: 0.18rem;
	}



	/*活动操作按钮*/
	.actOperationBtn{
		font-size: 0.16rem;
	}
	/*-----------------------------------------------------------------------------------------右侧核心区域*/
}